black==24.10.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
future==1.0.0
idna==3.10
linecache2==1.0.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
requests==2.32.3
six==1.17.0
toxiproxy-python==0.1.1
traceback2==1.4.0
unittest2==1.1.0
urllib3==2.3.0
