paramiko
SQLAlchemy
argparse
cryptography
ipaddress
lockfile
prettytable
psutil
pyOpenSSL
requests[socks]
pysocks

unittest2
selenium
nose
docker
mock
unittest-xml-reporting
tox
pytest
junit-xml
toxiproxy-python

black