debian/debian_openport-gui/source/include-binaries
debian/debian_openport/source/include-binaries

debian/*.deb
mac/local_settings.sh

redhat/BUILD/*
redhat/RPMS/*
redhat/SOURCES/*
redhat/SRPMS/*
redhat/BUILDROOT/*
debian/openport-*
debian/package/
mac/hash-mac.md5
mac/packages/Openport.pkgproj.tmp
mac/packages/build/
debian/tmp
dist
build
.idea
